<h2>{{this.Name}}</h2>



<ul class="list-group d-flex justify-content-center">
  <li class="list-group-item">ID: {{this.product1.ID}}</li>
  <li class="list-group-item">Name: {{this.product1.Name}}</li>
  <li class="list-group-item">Quantaty: {{this.product1.Quantity}}</li>
  <li class="list-group-item">Price: {{this.product1.Price}}</li>
  <li class="list-group-item"><img style="width: 100px; height: 100px" src="{{this.product1.Img}}" alt=""></li>
  <li class="list-group-item">CategoryId: {{this.product1.CategoryID}}</li>
</ul>p>
