<div class="container mt-5 mb-5">
  <div class="row ">
    <div class="card text-center d-block m-auto w-25" style="width: 18rem;">
      <img class="card-img-top m-auto" [src]="this.url+oneMovies.backdrop_path"alt="Card image cap">

      <div class="card-body">
        <h5 class="card-text">{{oneMovies.original_title}}</h5>
        <h6 >{{oneMovies.popularity }}</h6>
        <h6>{{oneMovies.title}}</h6>
        <div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary m-auto d-block mt-5" routerLink="/movies">Go Back</button>

</div>




